<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Page</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&display=swap');
    </style>
   
</head>

<body>
    <section>
        
        <div class="welcome-page">
            <div class="backage">
                <h2>Tic-Tac-Toe</h2>
                <div class="bas">
                    <div class="allbutton">
                        <a href="/bot"> 
                            Versus BOT
                           <img src="../images/menu/robot.svg" alt="robot">
                        </a>
                        <a href="/game"> 
                            Versus Players
                           <img src="../images/menu/players.svg" alt="robot">
                        </a>
                        <a href="/leaderboard"> 
                           Leaderboard
                           <img src="../images/menu/leaderboard.svg" alt="robot">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const result = 
        console.log()
    </script>

</body>

</html>
