<!doctype html>
<html>
    <head>
      <%- include('./_partials/_head') %>
    </head>
  <body>
    
    <header>
      <%- include('./_partials/_navbar') %>
    </header>
   
    <% usersList.forEach((user)=> { %>
      <li>
          <h2> <%= user.username %> : <%= user.elo %> POINTS</h2> 
  
      </li>

     

     
    <% }) %>
 
   
  </body>
</html>