<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>Morpion</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">



  <script src="../js/bootstrap.bundle.min.js" defer></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&display=swap');
  </style>
</head>

<body>
    {{#each users}}
    <table class="table">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Victory</th>
      <th scope="col">Loses</th>
      <th scope="col">Draw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{username}}</td>
      <td>{{victory}}</td>
      <td>{{loses}}</td>
      <td>{{draws}}</td>
    </tr>
    
  </tbody>
</table>
{{/each}}

</body>

</html>

