body {
    text-align: center;
    color: white;
    background-image: url("../images/mur.png");
    font-family: 'Lexend Deca', sans-serif;
}

   .board {
    margin: 175px auto;
    width: 350px;
    background-color: rgb(10, 10, 125);
   }
   .board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-top: 10px;
    
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em
   }