<meta charset="UTF-8">
<title>Morpion</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../public/css/style.css">
 
<script src="../public/js/bootstrap.bundle.min.js" defer></script>